@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Earth Bold';
    src: url('/fonts/earthorbiterxtrabold.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@layer components {
    .test {
        border: 2px solid red;
    }
}

@keyframes gradient {
    0% {
        background-position: 100% 0;
    }

    50% {
        background-position: 0 100%;
    }

    100% {
        background-position: 100% 0;
    }
}